<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Reporting Suite" parallel="tests">
	<parameter name="mcm" value="YOUR_CLOUD.perfectomobile.com" />
	<parameter name="mcmUser" value="USER@perfectomobile.com" />
	<parameter name="mcmPassword" value="PASSWORD" />
	<parameter name="browserName" value="mobileOS" />

	<test name="Test Android">
		<parameter name="deviceName" value="DEVICE" />
		<classes>
			<class name="ReportingTest" >
				<methods>
					<include name="f" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->

	<test name="Test iOS">
		<parameter name="deviceName" value="DEVICE" />
		<classes>
			<class name="ReportingTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
